<div [hidden]="isSuccess!=1" class="alert alert-success box-msg" role="alert">
  <strong>Success!</strong> saved successfully.
</div>
<div [hidden]="isFail!=1" class="alert alert alert-danger box-msg" role="alert">
  <strong>Info!</strong> {{statusMessage}}
</div>

<div class="page-header">
  <h3 class="page-title">
    Company Details
  </h3>
</div>
<div class="row">
  <div class="col-12 grid-margin stretch-card">
    <div class="card">
      <div class="card-body">
        <form [formGroup]="addForm" (ngSubmit)="onSubmit()">
          <div class="form-group row">
            <label for="companyName" class="col-sm-2.5 col-form-label">Company Name</label>
            <div class="col-sm-4">
              <input type="text" class="form-control" id="companyName" formControlName="companyName" name="companyName"
                placeholder="Company Name" [ngClass]="{ 'is-invalid': submitted && formControls.companyName.errors }">
              <div *ngIf="submitted && formControls.companyName.errors" class="invalid-feedback">
                <div *ngIf="formControls.companyName.errors.required">Company Name is required</div>
              </div>
            </div>
          </div>
          <div class="form-group row">
            <label for="address" class="col-sm-2.5 col-form-label">Address</label>
            <div class="col-sm-4">
              <input type="text" class="form-control" id="address" formControlName="address" name="address"
                placeholder="Address">
            </div>
          </div>
          <div class="form-group row">
            <label for="email" class="col-sm-2.5 col-form-label">Email</label>
            <div class="col-sm-4">
              <input type="text" class="form-control" id="email" formControlName="email" name="email"
                placeholder="Email" pattern="^\w+([\.-]?\w+)*@\w+([\.-]?\w+)*(\.\w{2,3})+$"
                [ngClass]="{ 'is-invalid': submitted && formControls.email.errors }">
              <div *ngIf="submitted && formControls.email.errors" class="invalid-feedback">
                <div *ngIf="formControls.email.errors.required">Email is required</div>
                <div *ngIf="formControls.email.errors && formControls.email.errors.pattern">
                  Email is invalid
                </div>
              </div>
            </div>
          </div>
          <div class="form-group row">
            <label for="contactNumber" class="col-sm-2.5 col-form-label">Contact Number</label>
            <div class="col-sm-4">
              <input type="text" class="form-control" id="contactNumber" formControlName="contactNumber"
                name="contactNumber" placeholder="Contact Number" (keypress)="numberOnly($event)" minlength="10"
                maxlength="10" [ngClass]="{ 'is-invalid': submitted && formControls.contactNumber.errors }">
              <div *ngIf="submitted && formControls.contactNumber.errors" class="invalid-feedback">
                <div *ngIf="formControls.contactNumber.errors.required">Contact Number is required</div>
                <div *ngIf="formControls.contactNumber.errors.minlength">Contact Number must have 10 characters</div>
              </div>
            </div>
          </div>
          <div class="form-group row">
            <label for="website" class="col-sm-2.5 col-form-label">Website</label>
            <div class="col-sm-4">
              <input type="text" class="form-control" id="website" formControlName="website" name="website"
                placeholder="Website">
            </div>

          </div>
          <div class="form-group row">
            <label class="col-sm-3 col-form-label">Type of Business</label>
            <div class="col-sm-9">
              <select class="form-control" id="businessTypeId" name="businessTypeId" formControlName="businessTypeId"
                [ngClass]="{ 'is-invalid': submitted && formControls.businessTypeId.errors }">
                <option value="">Choose a Business Type</option>
                <option *ngFor="let businesss of businessTypes" [ngValue]="businesss.businessTypeId">{{
                  businesss.businessTypeName }}</option>
              </select>
              <div *ngIf="submitted && formControls.businessTypeId.errors" class="invalid-feedback">
                <div *ngIf="formControls.businessTypeId.errors.required">Business Type is required</div>
              </div>
            </div>
          </div>
          <div class="form-group row">
            <label for="active" class="col-sm-2.5 col-form-label">Active</label>
            <div class="col-sm-4">
              <input type="checkbox" class="form-control" id="active" formControlName="active" style="width: 6%;"
                name="active" checked="active">
            </div>
          </div>
          <button type="submit" class="btn btn-gradient-primary mr-2"> Submit</button>
          <button type="reset" class="btn btn-light" (click)="reset()">Cancel</button>
        </form>
      </div>
    </div>
  </div>
</div>
<div class="row">
  <div class="col-md-12" style="overflow-y: auto;margin-top: 1rem;">
    <div class="card">
      <div class="card-body" *ngIf="companyDetails.length > 0">
        <table class="table table-bordered">
          <thead>
            <tr>
              <th>Company</th>
              <th>Email</th>
              <th>Contact Number</th>
              <th>Website</th>
              <th>Type of Business</th>
              <th>active</th>
              <th></th>
            </tr>
          </thead>
          <tbody>
            <tr *ngFor="let company of companyDetails">
              <td>{{company.companyName}}</td>
              <td>{{company.email}}</td>
              <td>{{company.contactNumber}}</td>
              <td>{{company.website}}</td>
              <td>{{company.businessTypeName}}</td>
              <td>{{company.active}}</td>
              <td>
                <button class="btn btn-outline-success" (click)="editCompany(company)"> Edit</button>
                <button class="btn btn-outline-danger" (click)="deleteCompany(company)" style="margin-left: 20px;">
                  Delete</button>
              </td>
            </tr>
          </tbody>
        </table>
      </div>
      <div *ngIf="companyDetails.length === 0">
        No Records
      </div>
    </div>
  </div>
</div>