<div class="intro-y flex flex-col sm:flex-row items-center mt-8 mar-top10">
    <h2 class="text-lg font-medium mr-auto">
        Coupon Catalog Details
    </h2>
    <div class="flex flex-col sm:flex-row items-center p-5 ">
        <h2 class="font-medium text-base mr-auto">
            Wallet Amount {{walletBalance|currency:"INR":"symbol"}}
        </h2>
    </div>
</div>
<!--<div class="intro-y flex flex-col sm:flex-row items-center mt-8 mar-top10">
    <h2 class="text-lg font-medium mr-auto">
        Wallet Amount {{walletBalance|currency:"INR":"symbol"}}
    </h2>
</div>-->
<div id="icon-dismiss-alert" class="p-5" [hidden]="isSuccess!=1">
    <div class="preview">
        <div class="alert alert-success alert-dismissible show flex items-center mb-2" role="alert">
            <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none"
                stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"
                icon-name="alert-triangle" data-lucide="alert-triangle"
                class="lucide lucide-alert-triangle w-6 h-6 mr-2">
                <path d="M10.29 3.86L1.82 18a2 2 0 001.71 3h16.94a2 2 0 001.71-3L13.71 3.86a2 2 0 00-3.42 0z"></path>
                <line x1="12" y1="9" x2="12" y2="13"></line>
                <line x1="12" y1="17" x2="12.01" y2="17"></line>
            </svg> <strong>Success!</strong>&nbsp;&nbsp; saved successfully.
            <button type="button" class="btn-close text-white" data-tw-dismiss="alert" aria-label="Close"> <i
                    data-lucide="x" class="w-4 h-4"></i> </button>
        </div>
    </div>
</div>
<div id="icon-dismiss-alert" class="p-5" [hidden]="isFail!=1">
    <div class="preview">
        <div class="alert alert-danger alert-dismissible show flex items-center mb-2" role="alert">
            <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none"
                stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"
                icon-name="alert-octagon" data-lucide="alert-octagon" class="lucide lucide-alert-octagon w-6 h-6 mr-2">
                <polygon points="7.86 2 16.14 2 22 7.86 22 16.14 16.14 22 7.86 22 2 16.14 2 7.86 7.86 2"></polygon>
                <line x1="12" y1="8" x2="12" y2="12"></line>
                <line x1="12" y1="16" x2="12.01" y2="16"></line>
            </svg><strong> Info! </strong>&nbsp;&nbsp; {{statusMessage}}
            <button type="button" class="btn-close text-white" data-tw-dismiss="alert" aria-label="Close"> <i
                    data-lucide="x" class="w-4 h-4"></i> </button>
        </div>
    </div>
</div>
<ng-container *ngIf="isTileShow">
    <div class="intro-y grid grid-cols-12 gap-5 mt-5">
        <!-- BEGIN: Item List -->
        <div class="intro-y col-span-12 sm:col-span-12">
            <div class="grid grid-cols-12 gap-5 mt-5 pt-5 mar-padtop0">
                <ng-container *ngFor="let catalog of catalogs">
                    <a href="javascript:;" data-tw-toggle="modal" data-tw-target="#add-item-modal"
                        class="intro-y block col-span-12 sm:col-span-6 2xl:col-span-4" (click)="selectCatalog(catalog)">
                        <div class="box rounded-md p-3 relative zoom-in">
                            <div class="flex-none relative block before:block before:w-full before:pt-[100%]">
                                <div class="absolute top-0 left-0 w-full h-full image-fit">
                                    <img alt="{{catalog.imageFileName}}" class="rounded-md"
                                        src="{{ imagUrl + catalog.imageFileName }}">
                                </div>
                            </div>
                            <div class="block font-medium text-center truncate mt-3">{{catalog.catalogName}}</div>
                        </div>
                    </a>
                </ng-container>
            </div>
        </div>
    </div>
</ng-container>
<div class="grid grid-cols-12 gap-6 mt-5">

    <!--<ng-container *ngIf="isTileShow">
        <ng-container *ngFor="let catalog of catalogs">
            <a href="javascript:;"
                class="intro-y col-span-12 lg:col-span-4 box py-10 border-2 border-primary dark:border-primary"
                (click)="selectCatalog(catalog)">
                <img src="{{ imagUrl + catalog.imageFileName }}" alt="{{catalog.imageFileName}}" />-->
    <!-- <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none"
                    stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"
                    icon-name="award" data-lucide="award"
                    class="lucide lucide-award block w-12 h-12 text-primary mx-auto">
                    <polyline points="8.21 13.89 7 23 12 20 17 23 15.79 13.88"></polyline>
                    <circle cx="12" cy="8" r="7"></circle>
                </svg>
 -->
    <!--<div class="font-medium text-center text-base mt-3">{{catalog.catalogName}}</div>-->
    <!-- <div class="text-slate-500 mt-2 w-3/4 text-center mx-auto">95,5741
                </div>
                <div class="text-slate-500 mt-2 w-3/4 text-center mx-auto">Increased by 5%
                </div> -->
    <!-- </a>
        </ng-container>
    </ng-container>-->
    <ng-container *ngIf="!isTileShow">
        <!--<a href="javascript:;"
            class="intro-y col-span-12 lg:col-span-4 box py-10 border-2 border-primary dark:border-primary customGiftCard">-->
        <!-- <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none"
                stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" icon-name="gift"
                data-lucide="gift" class="lucide lucide-gift block w-12 h-12 text-primary mx-auto">
                <polyline points="20 12 20 22 4 22 4 12"></polyline>
                <rect x="2" y="7" width="20" height="5"></rect>
                <line x1="12" y1="22" x2="12" y2="7"></line>
                <path d="M12 7H7.5a2.5 2.5 0 010-5C11 2 12 7 12 7z"></path>
                <path d="M12 7h4.5a2.5 2.5 0 000-5C13 2 12 7 12 7z"></path>
            </svg> -->
        <!--<img src="{{selectedImageUrl}}" class="card-img-absolute" alt="circle-image" />
            <div class="font-medium text-center text-base mt-3">{{selectedCatalogName}}</div>-->
        <!-- <div class="text-slate-500 mt-2 w-3/4 text-center mx-auto">95,5741
            </div>
            <div class="text-slate-500 mt-2 w-3/4 text-center mx-auto">Increased by 5%
            </div> -->
        <!--</a>-->

        <div class="intro-y col-span-12 lg:col-span-6">
            <div class="intro-y box">
                <form [formGroup]="addForm" (ngSubmit)="onSubmit()">
                    <div id="vertical-form" class="p-5">
                        <div class="preview">
                            <div>
                                <img src="{{selectedImageUrl}}" class="card-img-absolute custom-img"
                                    alt="circle-image" />
                                <div class="font-medium text-center text-base mt-3">{{selectedCatalogName}}</div>
                            </div>
                            <div>
                                <label for="cardValue" class="form-label">Enter Card Value</label>
                                <input type="text" class="form-control" id="cardValue" formControlName="cardValue"
                                    name="cardValue" (keypress)="numberOnly($event)" (keyup)="priceCalculation()"
                                    [ngClass]="(submitted && formControls.cardValue.errors)? 'intro-x login__input form-control py-3 px-4 block border-danger': 'intro-x login__input form-control py-3 px-4 block'">
                                <div *ngIf="submitted && formControls.cardValue.errors && formControls.cardValue.errors.required"
                                    class="text-danger mt-2">Card Value is required</div>
                            </div>
                            <div class="mt-3">
                                <label for="quantity" class="form-label">Quantity</label>
                                <input type="text" class="form-control" id="quantity" formControlName="quantity"
                                    name="quantity" (keypress)="numberOnly($event)" (keyup)="priceCalculation()"
                                    [ngClass]="(submitted && formControls.quantity.errors)?'intro-x login__input form-control py-3 px-4 block border-danger': 'intro-x login__input form-control py-3 px-4 block'">
                                <div *ngIf="submitted && formControls.quantity.errors && formControls.quantity.errors.required"
                                    class="text-danger mt-2">Quantity is required</div>
                            </div>
                            <div class="mt-3">
                                <label for="total" class="form-label">Total</label>
                                <input type="text" class="form-control" id="total" formControlName="total" name="total"
                                    readonly>
                            </div>

                            <div class="mt-3">
                                <label>Delivery Mode</label>
                                <div class="flex flex-col sm:flex-row mt-2">
                                    <div class="form-check mr-2">
                                        <input id="radio-switch-4" class="form-check-input" type="radio" value="SMS"
                                            formControlName="deliveryMode">
                                        <label class="form-check-label" for="radio-switch-4">SMS</label>
                                    </div>
                                    <div class="form-check mr-2 mt-2 sm:mt-0">
                                        <input id="radio-switch-5" class="form-check-input" type="radio" value="Email"
                                            formControlName="deliveryMode">
                                        <label class="form-check-label" for="radio-switch-5">Email</label>
                                    </div>
                                    <div class="form-check mr-2 mt-2 sm:mt-0">
                                        <input id="radio-switch-6" class="form-check-input" type="radio" value="Both"
                                            formControlName="deliveryMode">
                                        <label class="form-check-label" for="radio-switch-6">Both</label>
                                    </div>
                                </div>
                            </div>
                            <div class="mt-3">
                                <button type="submit" class="btn btn-primary xl:mr-3">Save</button>
                                <button type="reset" class="btn btn-outline-secondary mt-3 xl:mt-0 align-top"
                                    (click)="reset()">Cancel</button>
                            </div>

                        </div>

                    </div>
                </form>
            </div>
        </div>
    </ng-container>

</div>