<div class="intro-y flex flex-col sm:flex-row items-center mt-8 mar-top10">
    <h2 class="text-lg font-medium mr-auto">
        Catalog Details
    </h2>
</div>
<!--<div class="grid grid-cols-12">
    <input type="text" [(ngModel)]="term" class="searchTerm" placeholder="What are you looking for?" />
</div>-->
<div class="grid grid-cols-12 gap-6 mt-5">
    <div class="intro-y col-span-12 flex flex-wrap sm:flex-nowrap mt-2 items-end">
        <div class="form-check form-switch w-full sm:w-auto sm:ml-auto mt-3 sm:mt-0">
            <div class="w-56 relative text-slate-500">
                <input type="text" class="form-control w-56 box pr-10" placeholder="What are you looking for?"
                    [(ngModel)]="term">
                <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none"
                    stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"
                    icon-name="search" class="lucide lucide-search w-4 h-4 absolute my-auto inset-y-0 mr-3 right-0"
                    data-lucide="search">
                    <circle cx="11" cy="11" r="8"></circle>
                    <line x1="21" y1="21" x2="16.65" y2="16.65"></line>
                </svg>
            </div>
        </div>
    </div>
</div>

<div class="intro-y grid grid-cols-12 gap-5 mt-5">
    <!-- BEGIN: Item List -->
    <div class="intro-y col-span-12 sm:col-span-12">
        <div class="grid grid-cols-12 gap-5 mt-5 pt-5 mar-padtop0">
            <ng-container *ngFor="let catalog of catalogs | filter: term">
                <a href="javascript:;" data-tw-toggle="modal" data-tw-target="#add-item-modal"
                    class="intro-y block col-span-12 sm:col-span-6 2xl:col-span-2" (click)="selectCatalog(catalog)">
                    <div class="box rounded-md p-3 relative zoom-in">
                        <div class="flex-none relative block before:block before:w-full before:pt-[100%]">
                            <div class="absolute top-0 left-0 w-full h-full image-fit">
                                <img alt="{{catalog.imageFileName}}" class="rounded-md"
                                    src="{{ imagUrl + catalog.imageFileName }}">
                            </div>
                        </div>
                        <div class="block font-medium text-center truncate mt-3">{{catalog.catalogName}}</div>
                    </div>
                </a>
            </ng-container>
        </div>
    </div>
</div>

<!--<div class="grid grid-cols-12 gap-6 mt-5 mar-top10">
    <ng-container *ngFor="let catalog of catalogs | filter: term">
        <a href="javascript:;"
            class="intro-y col-span-12 lg:col-span-4 box py-10 border-2 border-primary dark:border-primary"
            (click)="selectCatalog(catalog)">
            <img src="{{ imagUrl + catalog.imageFileName }}" alt="{{catalog.imageFileName}}" />
            <div class="font-medium text-center text-base mt-3">{{catalog.catalogName}}</div>
        </a>
    </ng-container>
</div>-->