<div class="grid grid-cols-12 gap-6 mt-5">
    <div class="intro-y col-span-12 lg:col-span-12">
        <div class="intro-y box mt-5">
            <div class="flex flex-col sm:flex-row items-center p-5 border-b border-slate-200/60">
                <h2 class="font-medium text-base mr-auto">
                    Employee Order Details
                </h2>
            </div>
            <div class="p-5" id="striped-rows-table">
                <div class="preview">
                    <div class="overflow-x-auto">
                        <table class="table table-striped">
                            <thead>
                                <tr>
                                    <th class="whitespace-nowrap">Catalog Name</th>
                                    <th class="whitespace-nowrap">Catalog Type</th>
                                    <th class="whitespace-nowrap">CardValue</th>
                                    <th class="whitespace-nowrap">Quantity</th>
                                    <th class="whitespace-nowrap">Total</th>
                                    <th class="whitespace-nowrap">DeliveryMode</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr *ngFor="let employee of employeeOrder">
                                    <td>{{employee.catalogName}}</td>
                                    <td>{{employee.catalogType}}</td>
                                    <td>{{employee.cardValue}}</td>
                                    <td>{{employee.quantity}}</td>
                                    <td>{{employee.total}}</td>
                                    <td>{{employee.deliveryMode}}</td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                    <div class="intro-y flex flex-wrap sm:flex-row sm:flex-nowrap items-center mt-3">
                        <nav class="w-full sm:w-auto sm:mr-auto">
                            <ul class="pagination">
                                <li class="page-item">
                                    <a class="page-link" href="#"> <svg xmlns="http://www.w3.org/2000/svg" width="24"
                                            height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor"
                                            stroke-width="2" stroke-linecap="round" stroke-linejoin="round"
                                            icon-name="chevrons-left" class="lucide lucide-chevrons-left w-4 h-4"
                                            data-lucide="chevrons-left">
                                            <polyline points="11 17 6 12 11 7"></polyline>
                                            <polyline points="18 17 13 12 18 7"></polyline>
                                        </svg> </a>
                                </li>
                                <li class="page-item">
                                    <a class="page-link" href="#"> <svg xmlns="http://www.w3.org/2000/svg" width="24"
                                            height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor"
                                            stroke-width="2" stroke-linecap="round" stroke-linejoin="round"
                                            icon-name="chevron-left" class="lucide lucide-chevron-left w-4 h-4"
                                            data-lucide="chevron-left">
                                            <polyline points="15 18 9 12 15 6"></polyline>
                                        </svg> </a>
                                </li>
                                <li class="page-item"> <a class="page-link" href="#">...</a> </li>
                                <li class="page-item"> <a class="page-link" href="#">1</a> </li>
                                <li class="page-item active"> <a class="page-link" href="#">2</a> </li>
                                <li class="page-item"> <a class="page-link" href="#">3</a> </li>
                                <li class="page-item"> <a class="page-link" href="#">...</a> </li>
                                <li class="page-item">
                                    <a class="page-link" href="#"> <svg xmlns="http://www.w3.org/2000/svg" width="24"
                                            height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor"
                                            stroke-width="2" stroke-linecap="round" stroke-linejoin="round"
                                            icon-name="chevron-right" class="lucide lucide-chevron-right w-4 h-4"
                                            data-lucide="chevron-right">
                                            <polyline points="9 18 15 12 9 6"></polyline>
                                        </svg> </a>
                                </li>
                                <li class="page-item">
                                    <a class="page-link" href="#"> <svg xmlns="http://www.w3.org/2000/svg" width="24"
                                            height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor"
                                            stroke-width="2" stroke-linecap="round" stroke-linejoin="round"
                                            icon-name="chevrons-right" class="lucide lucide-chevrons-right w-4 h-4"
                                            data-lucide="chevrons-right">
                                            <polyline points="13 17 18 12 13 7"></polyline>
                                            <polyline points="6 17 11 12 6 7"></polyline>
                                        </svg> </a>
                                </li>
                            </ul>
                        </nav>
                        <select class="w-20 form-select box mt-3 sm:mt-0">
                            <option>10</option>
                            <option>25</option>
                            <option>35</option>
                            <option>50</option>
                        </select>
                    </div>
                </div>
            </div>

        </div>
    </div>
</div>