<nav class="sidebar sidebar-offcanvas" id="sidebar">
  <ul class="nav">

    <li class="nav-item" [ngClass]="{ 'active': dashboard.isActive }">
      <a class="nav-link" routerLink="/dashboard" routerLinkActive #dashboard="routerLinkActive">
        <span class="menu-title">Dashboard</span>
        <i class="mdi mdi-home menu-icon"></i>
      </a>
    </li>
    <!-- <li *ngIf="isNormalUser" class="nav-item" [ngClass]="{ 'active': businesstype.isActive }">
      <a class="nav-link" routerLink="/businesstype" routerLinkActive #businesstype="routerLinkActive">
        <span class="menu-title">Wallet</span>
        <i class="mdi mdi-home menu-icon"></i>
      </a>
    </li> -->
    <li *ngIf="isNormalUser" class="nav-item" [ngClass]="{ 'active': employeefundhistory.isActive }">
      <a class="nav-link" routerLink="/employeefundhistory" routerLinkActive #employeefundhistory="routerLinkActive">
        <span class="menu-title">Employee Fund History</span>
        <i class="mdi mdi-home menu-icon"></i>
      </a>
    </li>
    <li *ngIf="isNormalUser" class="nav-item" [ngClass]="{ 'active': giftcatalog.isActive }">
      <a class="nav-link" routerLink="/giftcatalog" routerLinkActive #giftcatalog="routerLinkActive">
        <span class="menu-title">Gift Card Catalog</span>
        <i class="mdi mdi-home menu-icon"></i>
      </a>
    </li>
    <li *ngIf="isNormalUser" class="nav-item" [ngClass]="{ 'active': coupon.isActive }">
      <a class="nav-link" routerLink="/coupon" routerLinkActive #coupon="routerLinkActive">
        <span class="menu-title">Coupons Catalog</span>
        <i class="mdi mdi-home menu-icon"></i>
      </a>
    </li>
    <li *ngIf="isSuperAdmin" class="nav-item" [ngClass]="{ 'active': businesstype.isActive }">
      <a class="nav-link" routerLink="/businesstype" routerLinkActive #businesstype="routerLinkActive">
        <span class="menu-title">Business Type</span>
        <i class="mdi mdi-home menu-icon"></i>
      </a>
    </li>
    <li *ngIf="isSuperAdmin" class="nav-item" [ngClass]="{ 'active': company.isActive }">
      <a class="nav-link" routerLink="/company" routerLinkActive #company="routerLinkActive">
        <span class="menu-title">Company</span>
        <i class="mdi mdi-home menu-icon"></i>
      </a>
    </li>
    <li *ngIf="isSuperAdmin" class="nav-item" [ngClass]="{ 'active': companycontact.isActive }">
      <a class="nav-link" routerLink="/companycontact" routerLinkActive #companycontact="routerLinkActive">
        <span class="menu-title">Point of Contact</span>
        <i class="mdi mdi-home menu-icon"></i>
      </a>
    </li>
    <li *ngIf="isSuperAdmin || isAdmin" class="nav-item" [ngClass]="{ 'active': employee.isActive }">
      <a class="nav-link" routerLink="/employee" routerLinkActive #employee="routerLinkActive">
        <span class="menu-title">Employee</span>
        <i class="mdi mdi-home menu-icon"></i>
      </a>
    </li>
    <li *ngIf="isAdmin" class="nav-item" [ngClass]="{ 'active': companyfundtransaction.isActive }">
      <a class="nav-link" routerLink="/companyfundtransaction" routerLinkActive
        #companyfundtransaction="routerLinkActive">
        <span class="menu-title">Company Fund Transaction</span>
        <i class="mdi mdi-home menu-icon"></i>
      </a>
    </li>
    <li *ngIf="isAdmin" class="nav-item" [ngClass]="{ 'active': employerfunddistribution.isActive }">
      <a class="nav-link" routerLink="/employerfunddistribution" routerLinkActive
        #employerfunddistribution="routerLinkActive">
        <span class="menu-title">Employer Fund Transactions</span>
        <i class="mdi mdi-home menu-icon"></i>
      </a>
    </li>
    <li *ngIf="isSuperAdmin || isAdmin" class="nav-item" [ngClass]="{ 'active': catagory.isActive }">
      <a class="nav-link" routerLink="/catagory" routerLinkActive #catagory="routerLinkActive">
        <span class="menu-title">Catagory</span>
        <i class="mdi mdi-home menu-icon"></i>
      </a>
    </li>
    <li *ngIf="isNormalUser" class="nav-item" [ngClass]="{ 'active': employeeorder.isActive }">
      <a class="nav-link" routerLink="/employeeorder" routerLinkActive #employeeorder="routerLinkActive">
        <span class="menu-title">Employee Order</span>
        <i class="mdi mdi-home menu-icon"></i>
      </a>
    </li>
    <li *ngIf="isSuperAdmin" class="nav-item" [ngClass]="{ 'active': paymenttype.isActive }">
      <a class="nav-link" routerLink="/paymenttype" routerLinkActive #paymenttype="routerLinkActive">
        <span class="menu-title">Payment Type</span>
        <i class="mdi mdi-home menu-icon"></i>
      </a>
    </li>
    <li *ngIf="isSuperAdmin" class="nav-item" [ngClass]="{ 'active': product.isActive }">
      <a class="nav-link" routerLink="/product" routerLinkActive #product="routerLinkActive">
        <span class="menu-title">Product</span>
        <i class="mdi mdi-home menu-icon"></i>
      </a>
    </li>
    <li *ngIf="isSuperAdmin" class="nav-item" [ngClass]="{ 'active': role.isActive }">
      <a class="nav-link" routerLink="/role" routerLinkActive #role="routerLinkActive">
        <span class="menu-title">Role</span>
        <i class="mdi mdi-home menu-icon"></i>
      </a>
    </li>
  </ul>
</nav>