<!--<div [hidden]="isSuccess!=1" class="alert alert-success box-msg" role="alert">
    <strong>Success!</strong> saved successfully.
</div>
<div [hidden]="isFail!=1" class="alert alert alert-danger box-msg" role="alert">
    <strong>Info!</strong> {{statusMessage}}
</div>
<div class="page-header">
    <h3 class="page-title">
        Employee Transaction Details
    </h3>
</div>
<div class="row">
    <div class="col-12 grid-margin stretch-card">
        <div class="card">
            <h3>Employee Search</h3>
            <h3>Total Available Funds : {{totalAvailableFund|currency:"INR":"symbol"}} </h3>
            <div class="card-body">
                <form [formGroup]="addForm" (ngSubmit)="onSubmit()">
                    <div class="form-group row">
                        <label class="col-sm-3 col-form-label">Select Perk Type </label>
                        <div class="col-sm-9">
                            <select class="form-control" id="perkType" name="perkType" formControlName="perkType"
                                [ngClass]="{ 'is-invalid': submitted && formControls.perkType.errors }"
                                (change)='perkTypeChange($event)'>
                                <option value="1">Individual</option>
                                <option value="2">Multiple</option>
                            </select>
                            <div *ngIf="submitted && formControls.perkType.errors" class="invalid-feedback">
                                <div *ngIf="formControls.perkType.errors.required">Perk Type is required</div>
                            </div>
                        </div>
                    </div>
                    <div class="form-group row" *ngIf="perkValue =='1'">
                        <label for="employeeId" class="col-sm-2.5 col-form-label">Employee ID</label>
                        <div class="col-sm-4">
                            <input type="text" class="form-control" id="employeeId" formControlName="employeeId"
                                name="employeeId" placeholder="Employee ID" (keypress)="numberOnly($event)"
                                list="employeeIds" (change)="bindEmployeeDetails($event,'employeeId')">
                            <datalist id="employeeIds">
                                <option *ngFor="let employee of employeeDetails" [value]="employee.employeeId">
                                    {{employee.employeeId}}</option>
                            </datalist>
                        </div>
                    </div>
                    <div class="form-group row" *ngIf="perkValue =='1'">
                        <label for="employeeName" class="col-sm-2.5 col-form-label">Employee Name</label>
                        <div class="col-sm-4">
                            <input type="text" class="form-control" id="employeeName" formControlName="employeeName"
                                name="employeeName" placeholder="Employee Name" (keyup)="getEmployeeByType($event)"
                                list="employeeNames" (change)="bindEmployeeDetails($event,'name')">
                            <datalist id="employeeNames">
                                <option *ngFor="let employee of employeeDetails" [value]="employee.employeeName">
                                    {{employee.employeeName}}</option>
                            </datalist>
                        </div>
                    </div>
                    <div class="form-group row" *ngIf="perkValue =='1'">
                        <label for="email" class="col-sm-2.5 col-form-label">Email</label>
                        <div class="col-sm-4">
                            <input type="text" class="form-control" id="email" formControlName="email" name="email"
                                placeholder="Email" (keyup)="getEmployeeByType($event)" list="employeeEmails"
                                (change)="bindEmployeeDetails($event,'email')">
                            <datalist id="employeeEmails">
                                <option *ngFor="let employee of employeeDetails" [value]="employee.email">
                                    {{employee.email}}</option>
                            </datalist>
                        </div>
                    </div>
                    <div class="form-group row" *ngIf="perkValue =='1'">
                        <label for="employeeNumber" class="col-sm-2.5 col-form-label">Employee Number</label>
                        <div class="col-sm-4">
                            <input type="text" class="form-control" id="employeeNumber" formControlName="employeeNumber"
                                name="employeeNumber" placeholder="Employee Number" (keyup)="getEmployeeByType($event)"
                                list="employeeNumbers" (change)="bindEmployeeDetails($event,'number')">
                            <datalist id="employeeNumbers">
                                <option *ngFor="let employee of employeeDetails" [value]="employee.employeeNumber">
                                    {{employee.employeeNumber}}</option>
                            </datalist>
                        </div>
                    </div>
                    <div class="form-group row">
                        <label for="comment" class="col-sm-2.5 col-form-label">Comments</label>
                        <div class="col-sm-4">
                            <input type="text" class="form-control" id="comment" formControlName="comment"
                                name="comment" placeholder="Comments">
                        </div>
                    </div>
                    <div class="form-group row">
                        <label class="col-sm-3 col-form-label">Perk Value </label>
                        <div class="col-sm-9">
                            <input type="text" class="form-control" id="perkValue" formControlName="perkValue"
                                name="perkValue" placeholder="Perk Value" (keypress)="numberOnly($event)"
                                [ngClass]="{ 'is-invalid': submitted && formControls.perkValue.errors }">
                            <div *ngIf="submitted && formControls.perkValue.errors" class="invalid-feedback">
                                <div *ngIf="formControls.perkValue.errors.required">Perk Value is required</div>
                            </div>
                        </div>
                    </div>
                    <button type="submit" class="btn btn-gradient-primary mr-2"> Add</button>
                </form>
            </div>
        </div>
    </div>
</div>-->

<div class="intro-y flex flex-col sm:flex-row items-center mt-8">
    <h2 class="text-lg font-medium mr-auto">
        Employer Fund Distribution
    </h2>
</div>

<div class="intro-y box py-10 sm:py-20 mt-5 customFormBk">

    <div class="px-5 sm:px-10 mt-10 pt-10  border-slate-200/60 dark:border-darkmode-400">
        <div class="font-medium text-lg">Employee Search</div>
        <div class="font-medium text-base">Total Available Funds : {{totalAvailableFund|currency:"INR":"symbol"}}</div>
        <form [formGroup]="addForm" (ngSubmit)="onSubmit()">
            <div class="grid grid-cols-12 gap-4 gap-y-5 mt-5">
                <div class=" intro-y col-span-12 sm:col-span-6">
                    <label for="input-wizard-4" class="form-label">Select Perk Type
                    </label>
                    <select class="form-select" id="perkType" name="perkType" formControlName="perkType"
                        (change)='perkTypeChange($event)'
                        [ngClass]="(submitted && formControls.perkType.errors)? 'intro-x login__input form-control py-3 px-4 block border-danger': 'intro-x login__input form-control py-3 px-4 block'">

                        <option value="1">Individual</option>
                        <option value="2">Multiple</option>
                    </select>
                    <div *ngIf="(submitted && formControls.perkType.errors && formControls.perkType.errors.required)"
                        class="text-danger mt-2">Perk Type is required</div>
                </div>
                <ng-container *ngIf="perkValue =='1'">
                    <div class="intro-y col-span-12 sm:col-span-6">
                        <label for="input-wizard-1" class="form-label">Employee ID</label>
                        <select class="form-select" type="text" id="employeeId" formControlName="employeeId"
                            name="employeeId" placeholder="Employee ID" (keypress)="numberOnly($event)"
                            list="employeeIds" (change)="bindEmployeeDetails($event,'employeeId')">
                            <option *ngFor=" let employee of employeeDetails" [ngValue]="employee.employeeId">{{
                                employee.employeeId }}</option>
                        </select>
                    </div>
                    <div class="intro-y col-span-12 sm:col-span-6">
                        <label for="input-wizard-1" class="form-label">Employee Name</label>
                        <select class="form-select" type="text" cid="employeeName" formControlName="employeeName"
                            name="employeeName" placeholder="Employee Name" (keyup)="getEmployeeByType($event)"
                            list="employeeNames" (change)="bindEmployeeDetails($event,'name')">
                            <option *ngFor=" let employee of employeeDetails" [ngValue]="employee.employeeName">{{
                                employee.employeeName }}</option>
                        </select>
                    </div>
                    <div class="intro-y col-span-12 sm:col-span-6">
                        <label for="input-wizard-1" class="form-label">Email</label>
                        <select class="form-select" type="text" id="email" formControlName="email" name="email"
                            placeholder="Email" (keyup)="getEmployeeByType($event)" list="employeeEmails"
                            (change)="bindEmployeeDetails($event,'email')">
                            <option *ngFor=" let employee of employeeDetails" [ngValue]="employee.email">{{
                                employee.email }}</option>
                        </select>
                    </div>
                    <div class="intro-y col-span-12 sm:col-span-6">
                        <label for="input-wizard-1" class="form-label">Employee Number</label>
                        <select class="form-select" type="text" id="employeeNumber" formControlName="employeeNumber"
                            name="employeeNumber" placeholder="Employee Number" (keyup)="getEmployeeByType($event)"
                            list="employeeNumbers" (change)="bindEmployeeDetails($event,'number')">
                            <option *ngFor=" let employee of employeeDetails" [ngValue]="employee.employeeNumber">{{
                                employee.employeeNumber }}</option>
                        </select>
                    </div>
                </ng-container>
                <div class=" intro-y col-span-12 sm:col-span-6">
                    <label for="input-wizard-4" class="form-label">Comments
                    </label>
                    <input type="text" class="form-control" id="comment" formControlName="comment" name="comment"
                        placeholder="Comments">

                </div>
                <div class=" intro-y col-span-12 sm:col-span-6">
                    <label for="input-wizard-4" class="form-label">Perk Value
                    </label>
                    <input type="text" class="form-control" id="perkValue" formControlName="perkValue" name="perkValue"
                        placeholder="Perk Value" (keypress)="numberOnly($event)"
                        [ngClass]="(submitted && formControls.perkValue.errors)? 'intro-x login__input form-control py-3 px-4 block border-danger': 'intro-x login__input form-control py-3 px-4 block'">
                    <div *ngIf="submitted && formControls.perkValue.errors && formControls.perkValue.errors.required"
                        class="text-danger mt-2">Perk Value is required</div>
                </div>

                <div class="intro-y col-span-12 flex items-center justify-center sm:justify-end mt-5">
                    <button type="submit" class="btn btn-primary w-24">Add</button>

                </div>
            </div>
        </form>
    </div>
</div>