<div wire:loading
  class="fixed top-0 left-0 right-0 bottom-0 w-full h-screen z-50 overflow-hidden bg-gray-700 opacity-75 flex flex-col items-center justify-center"
  *ngIf="loading">
  <div class="loader ease-linear rounded-full border-4 border-t-4 border-gray-200 h-12 w-12 mb-4"></div>
  <h2 class="text-center text-white text-xl font-semibold">Loading...</h2>
</div>
<div class="container sm:px-10">
  <div class="block xl:grid grid-cols-2 gap-4">
    <!-- BEGIN: Login Info -->
    <div class="hidden xl:flex flex-col min-h-screen">
      <a href="" class="-intro-x flex items-center pt-5">
        <!--<img alt="Midone - HTML Admin Template" class="w-6" src="../assets/images/logo.svg">-->
        <span class="text-white text-lg ml-3"> Gift Tracker App </span>
      </a>
      <div class="my-auto">
        <img alt="Midone - HTML Admin Template" class="-intro-x w-1/2 -mt-16" src="../assets/images/illustration.svg">
        <div class="-intro-x text-white font-medium text-4xl leading-tight mt-10">
          A few more clicks to
          <br>
          sign in to your account.
        </div>
        <div class="-intro-x mt-5 text-lg text-white text-opacity-70 dark:text-slate-400">Manage all your
          e-commerce accounts in one place</div>
      </div>
    </div>
    <!-- END: Login Info -->
    <!-- BEGIN: Login Form -->
    <div class="h-screen xl:h-auto flex py-5 xl:py-0 my-10 xl:my-0" *ngIf="showMainContent">
      <div
        class="my-auto mx-auto xl:ml-20 bg-white dark:bg-darkmode-600 xl:bg-transparent px-5 sm:px-8 py-8 xl:p-0 rounded-md shadow-md xl:shadow-none w-full sm:w-3/4 lg:w-2/4 xl:w-auto">
        <h2 class="intro-x font-bold text-2xl xl:text-3xl text-center xl:text-left">
          Forget Password
        </h2>
        <form [formGroup]="forgetPasswordForm" (ngSubmit)="onSubmit()">
          <div class="intro-x mt-2 text-slate-400 xl:hidden text-center">A few more clicks to sign in to your
            account. Manage all your e-commerce accounts in one place</div>
          <div class="intro-x mt-8" [hidden]="isSuccess!=1">
            <div class="alert alert-success-soft show flex items-center mb-2" role="alert"> <i
                data-lucide="alert-octagon" class="w-6 h-6 mr-2"></i> {{statusMessage}} </div>
          </div>
          <div class="intro-x mt-8" [hidden]="isFail!=1">
            <div class="alert alert-danger-soft show flex items-center mb-2" role="alert"> <i
                data-lucide="alert-octagon" class="w-6 h-6 mr-2"></i> {{statusMessage}} </div>
          </div>
          <div class="intro-x mt-8">
            <input type="text"
              [ngClass]="(submitted && formControls.email.errors)? 'intro-x login__input form-control py-3 px-4 block border-danger': 'intro-x login__input form-control py-3 px-4 block'"
              pid="email" formControlName="email" name="email" placeholder="Email"
              pattern="^\w+([\.-]?\w+)*@\w+([\.-]?\w+)*(\.\w{2,3})+$">
            <div *ngIf="submitted && formControls.email.errors && formControls.email.errors.required"
              class="text-danger mt-2">Email
              is required</div>
            <div *ngIf="submitted && formControls.email.errors && formControls.email.errors.pattern"
              class="text-danger mt-2">Email is invalid</div>
            <input type="text"
              [ngClass]="(submitted && formControls.mobileNumber.errors)? 'intro-x login__input form-control py-3 px-4 block mt-4 border-danger':'intro-x login__input form-control py-3 px-4 block mt-4'"
              id="mobileNumber" formControlName="mobileNumber" name="mobileNumber" placeholder="Mobile Number"
              (keypress)="numberOnly($event)" maxlength="10" minlength="10">
            <div *ngIf="submitted && formControls.mobileNumber.errors && formControls.mobileNumber.errors.required"
              class="text-danger mt-2">Mobile Number is required</div>
            <div *ngIf="submitted && formControls.mobileNumber.errors && formControls.mobileNumber.errors.minlength"
              class="text-danger mt-2">Mobile Number must have 10 characters</div>
          </div>
          <div class="intro-x flex text-slate-600 dark:text-slate-500 text-xs sm:text-sm mt-4">
            <div class="flex items-center mr-auto">
            </div>
          </div>
          <div class="intro-x mt-5 xl:mt-8 text-center xl:text-left">
            <button type="submit" class="btn btn-primary py-3 px-4 w-full xl:w-32 xl:mr-3 align-top">Submit</button>
            <button class="btn btn-outline-secondary py-3 px-4 w-full xl:w-32 mt-3 xl:mt-0 align-top"
              (click)="redirectToLogin()">Cancel</button>
          </div>
        </form>
      </div>

    </div>
    <div *ngIf="!showMainContent" class="h-screen xl:h-auto flex py-5 xl:py-0 my-10 xl:my-0">
      Password request successfully sent to your registred Email.
      <a [routerLink]="['/login']">
        Click here to Login
      </a>
    </div>
    <!-- END: Login Form -->
  </div>
</div>