<div [hidden]="isSuccess!=1" class="alert alert-success box-msg" role="alert">
  {{statusMessage}}
</div>
<div [hidden]="isFail!=1" class="alert alert alert-danger box-msg" role="alert">
  {{statusMessage}}
</div>
<div class="page-header">
  <h3 class="page-title">
    Forget Password
  </h3>
</div>

<div class="row">
  <div class="col-md-12 grid-margin stretch-card">
    <div class="card">

      <div class="card-body">
        <div [hidden]="showMainContent!=1">
          <form [formGroup]="forgetPasswordForm" (ngSubmit)="onSubmit()">
            <div class="form-group row">
              <label for="email" class="col-sm-2.5 col-form-label">Email</label>
              <div class="col-sm-4">
                <input type="text" class="form-control" id="email" formControlName="email" name="email"
                  placeholder="Email" [ngClass]="{ 'is-invalid': submitted && formControls.email.errors }"
                  pattern="^\w+([\.-]?\w+)*@\w+([\.-]?\w+)*(\.\w{2,3})+$">
                <div *ngIf="submitted && formControls.email.errors" class="invalid-feedback">
                  <div *ngIf="formControls.email.errors.required">Email is required</div>
                  <div *ngIf="formControls.email.errors && formControls.email.errors.pattern">
                    Email is invalid
                  </div>
                </div>
              </div>
            </div>


            <div class="form-group row">
              <label for="mobileNumber" class="col-sm-2.5 col-form-label">Mobile Number</label>
              <div class="col-sm-4">
                <input type="text" class="form-control" id="mobileNumber" formControlName="mobileNumber"
                  name="mobileNumber" placeholder="Mobile Number" (keypress)="numberOnly($event)" maxlength="10"
                  minlength="10" [ngClass]="{ 'is-invalid': submitted && formControls.mobileNumber.errors }">
                <div *ngIf="submitted && formControls.mobileNumber.errors" class="invalid-feedback">
                  <div *ngIf="formControls.mobileNumber.errors.required">Mobile Number is required</div>
                  <div *ngIf="formControls.mobileNumber.errors.minlength">Mobile Number must have 10 characters</div>
                </div>
              </div>
            </div>
            <button type="submit" class="btn btn-gradient-primary mr-2"> Submit</button>
            <button class="btn btn-light" (click)="redirectToLogin()">Cancel</button>
          </form>
        </div>
        <div [hidden]="showMainContent!=0"> Password request successfully sent to your registred Email.
          <a [routerLink]="['/login']">
            Click here to Login
          </a>
        </div>

      </div>

    </div>
  </div>
</div>